.loginform {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 60px 0px gray;
    width: 485px;
    height: 532px;
    border-radius: 9px;
    color: #555555;
    font-weight: 500;
}
.login-form-container{
    margin: 2rem;
}
.loginform p{
    font-weight: 500;
    text-align: center;
}
.form label{
    display: grid;
}
.form input{
    background-color: #F6F6F7;
    border: none;
    outline: none;
    padding: 15px;
    width: 384px;
    border-radius: 4px;
}
.form button{
    background-color: #457C10;
    width: 414px;
    padding: 12px;
    color: #fff;
}
.resendcode{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.resendcode a{
    color: #457C10;
}

/* ----------------------------------sidebar */
.profilediv{
    background: #F5F5F5;
    height: 100vh;
}
.sidebar{
    width: 200px;
}
.usericon{
    display: flex;
    color: #fff;
    justify-content: start;
    align-items: center;
    padding: 1rem .5rem;
    background-color: #000;
   margin: 0 1rem;
}
.usericon span{
    background-color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.usericon span img{
    height: 50px;
}
.usericon .userName h3{
    margin: 0;
    padding-left: 1rem;
}
#sidebar-links {
    height: 100%;
    width: 340px;
   background-color: #fff;
    padding-top: 20px;
  }

  #sidebar-links a {
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  #sidebar-links a:hover {
    background-color: #cdcdcd;
  }

  .dropdown-btn {
    padding: 15px;
    font-size: 18px;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .dropdown-container {
    display: none;
    padding-left: 15px;
  }

  .dropdown-content a {
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }

